.edit-controller {
    background-color: #f5f5f5;
    height: 100%;
    width: 100%;

    &__column {
        height: 100%;
        margin: auto;
        max-width: 1000px;
        width: 100%;
    }
}
